<div>
    <div class="header-blue">
        <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="assets/img/IGOR-LOGO.png" style="height: 100px;" class="img-fluid" alt=""></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item text-right" role="presentation"><a class="nav-link active text-right" href="#">Početna</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link text-right" href="#">O nama</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link text-right" href="#">Tuning</a></li>
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"></label></div>
                    </form><span class="navbar-text"> </span></div>
            </div>
        </nav>
        <div class="container text-center hero">
            <h1 class="header-text" data-aos="fade-right" data-aos-duration="1400">Unapredi svoju vožnju</h1>
            <p class="header-paragraf" data-aos="fade-up" data-aos-duration="1400">Pomoći ćemo vam da otključate maksimalne performanse vašeg motora i osiguraćemo da više nikada nećete želeti da izađete iz automobila.</p>
            <button class="header-btn" data-aos="zoom-in" data-aos-duration="1400" type="button">Klik za više</button></div>
    </div>
</div>
<div class="about-div">
    <div class="container text-center">
        <h2 class="about-h2" data-aos="fade-down-right" data-aos-duration="1400">Lorem ipsum</h2>
        <h1 class="about-h1" data-aos="zoom-out-right" data-aos-duration="1400">Lorem dolor</h1>
        <p class="about-paragraf" data-aos="fade-up" data-aos-duration="1400">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
        <button class="btn about-btn" data-aos="zoom-in-right" data-aos-duration="1400">ABOUT</button>
    </div>
</div>
<div class="row clearmargin clearpadding row-image-txt left-col">
    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:20px;">
        <h1 class="text-center key-h1" data-aos="fade-down" data-aos-duration="1400">Heading</h1>
        <h1 class="text-center key-h1-2" data-aos="fade-right" data-aos-duration="1400">Heading</h1>
        <div class="container">
            <p class="text-center tuning-paragraf" data-aos="fade-up" data-aos-duration="1400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel lorem a lectus finibus bibendum ut sagittis diam. Nunc egestas nulla in elit congue, id pellentesque ex semper. Aenean euismod tellus tincidunt massa eleifend, a efficitur lectus
                ultricies. Aliquam bibendum et leo quis consectetur. Integer consequat consequat mauris, id porttitor sem feugiat eu. Proin ac neque eu nisi viverra mattis. Curabitur molestie lectus ac sollicitudin faucibus. Duis congue ipsum eget justo
                egestas blandit.</p>
        </div>
        <div style="text-align:center"><button class="key-btn" data-aos="fade-right" data-aos-duration="1400" type="button">Lorem </button></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding img-col col-sm-push-6">
        <div></div>
    </div>
</div>
<div class="row clearmargin clearpadding row-image-txt right-col">
    <div class="col-xs-12 col-sm-6 col-md-6 clearmargin clearpadding img-col-2 col-sm-push-6">
        <div></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-pull-6" style="padding:20px;">

        <h1 class="text-center tuning-h1" data-aos="fade-down" data-aos-duration="1400">Heading</h1>
        <h1 class="text-center tuning-h1-2" data-aos="zoom-in-right" data-aos-duration="1400">Heading</h1>
        <div class="container">
            <p class="text-center tuning-paragraf" data-aos="fade-down" data-aos-duration="1400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel lorem a lectus finibus bibendum ut sagittis diam. Nunc egestas nulla in elit congue, id pellentesque ex semper. Aenean euismod tellus tincidunt massa eleifend, a efficitur lectus
                ultricies. Aliquam bibendum et leo quis consectetur. Integer consequat consequat mauris, id porttitor sem feugiat eu. Proin ac neque eu nisi viverra mattis. Curabitur molestie lectus ac sollicitudin faucibus. Duis congue ipsum eget justo
                egestas blandit.</p>
        </div>
        <div style="text-align:center"><button class="tuning-btn" data-aos="fade-up" data-aos-duration="1400" type="button">Lorem </button></div>
    </div>
</div>
<div class="container card-div">
    <div class="text-center">
        <h1 class="header-card-1" data-aos="fade-down" data-aos-duration="1400">Lorem ipsum dolor</h1>
        <h2 class="header-card-2" data-aos="fade-right" data-aos-duration="1400">Lorem ipsum</h2>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="row">

                <div class="col-sm-6">
                    <h1 class="key-card-header" data-aos="fade-down" data-aos-duration="1400">Aleksa</h1>
                    <p class="key-card-paragraf" data-aos="fade-down" data-aos-duration="1400">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/img/ecu-card.jpg" data-aos="zoom-in" data-aos-duration="1400" class="img-fluid key-card-img" alt="">
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="row">

                <div class="col-sm-6">
                    <h1 class="key-card-header" data-aos="fade-down" data-aos-duration="1400">Aleksa</h1>
                    <p class="key-card-paragraf" data-aos="fade-down" data-aos-duration="1400">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/img/key-card.jpg" data-aos="zoom-in" data-aos-duration="1400" class="img-fluid key-card-img" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container card-div">
    <div class="row">
        <div class="col-sm">
            <div class="row">

                <div class="col-sm-6">
                    <h1 class="key-card-header" data-aos="fade-down" data-aos-duration="1400">Aleksa</h1>
                    <p class="key-card-paragraf" data-aos="fade-down" data-aos-duration="1400">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/img/dashboard-icon.jpg" data-aos="zoom-in" data-aos-duration="1400" class="img-fluid key-card-img" alt="">
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="row">

                <div class="col-sm-6">
                    <h1 class="key-card-header" data-aos="fade-down" data-aos-duration="1400">Aleksa</h1>
                    <p class="key-card-paragraf" data-aos="fade-down" data-aos-duration="1400">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                </div>
                <div class="col-sm-4">
                    <img src="../../assets/img/dpf-icon.jpg" data-aos="zoom-in" data-aos-duration="1400" class="img-fluid key-card-img" alt="">
                </div>
            </div>

        </div>
    </div>
</div>
<div style="background-color: #212122;">
    <div class="text-center" style="padding-top: 10em;">
        <h1 class="at-card-header-1" data-aos="fade-down" data-aos-duration="1400">Lorem ipsim</h1>
        <h1 class="at-card-header-2" data-aos="fade-down" data-aos-duration="1400">Lorem</h1>
    </div>
    <div class="line container" data-aos="zoom-in-right" data-aos-duration="2000">
    </div>

    <div class="container">
        <p class="at-card-paragraf text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
        <div class="row at-card-row">
            <div class="col-sm-5 card kess-card">
                <img src="assets/img/KessV2-Australia.jpg" data-aos="zoom-in" data-aos-duration="1400" alt="" class="img-fluid">
                <h2 class="text-center at-in-card-txt" data-aos="fade-right" data-aos-duration="1400">Kess</h2>
                <p class="text-center at-in-card-paragraf" data-aos="fade-up" data-aos-duration="1400">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>
            </div>
            <div class="col-sm-5 card kess-card">
                <img src="assets/img/k-tag.jpg" data-aos="zoom-in" data-aos-duration="1400" alt="" class="img-fluid">
                <h2 class="text-center at-in-card-txt" data-aos="fade-right" data-aos-duration="1400">Kess</h2>
                <p class="text-center at-in-card-paragraf" data-aos="fade-up" data-aos-duration="1400">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>